---
layout: post
toc: true
title: NSO Verification
---

This server may be used to verify Nintendo Switch Online membership.

URL: https://capi.lp1.op2.nintendo.net

| URL                         |
|-----------------------------|
| `/v1/users/<id>/membership` |